<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SLAP -->
<SESSION>
  <database>
    <server>prod_API.harpercollins.com</server>
    <user>dbuser</user>
    <pass>dbpass</pass>
  </database>
  <inpath>c:\</inpath>
  <infile>hc_onix_full-</infile>
  <LOG>c:\\onixinError.log</LOG>
</SESSION>

